.product {
    margin: 0 95px;
}

.breadcrumbs {
    display: flex;
    margin-bottom: 10px;
}

.breadcrumbs li {
    margin-left: 15px;
}

.breadcrumbs li::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #c2c5ca;
    margin: 0 8px 3px 0;
    display: inline-block;
}

.breadcrumbs li:nth-child(4) a {
    color: #232D40;
}

.breadcrumbs li a {
    text-decoration: none;
    color: #95979c;
}

.breadcrumbs li:nth-child(1) {
    margin: 0;
}

.product-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-head-left h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.product-head-left-bottom span {
    margin-left: 10px;
}

.product-head-left-bottom span:nth-child(1) {
    margin: 0 !important;
}

.cart-slider {
    border: 2px solid #f6861f;
    border-radius: 7px;
    width: 424px;
    height: 120px;
    padding: 20px 25px;

}

.product-slider {
    display: flex;
    justify-content: unset;
    align-items: center;
}

.card-slide-img img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.card-slide-paragraph {
    margin-left: 30px;
}

.card-slide-paragraph h3 {
    font-size: 18px;
    font-weight: 700;
    color: #232D40;
    margin: 0;
}

.card-slide-paragraph p {
    font-size: 14px;
    color: #5b5f66;
    margin: 0;
}

.fixed-items {
    position: relative;
}

.view-fixed-bar-components {
    position: sticky;
    top: 0;
}

.view-fixed-bar {
    padding-top: 20px;
    display: flex;
}

.view-fixed-bar-bottom{
    margin-top: 30px
}

.none {
    opacity: 0;
}

.block {
    opacity: 1;
    transition: .3s;
}

.view-fixed-bar-small-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-right: 15px;
    overflow-y: auto;
    height: 315px;
    width: 100px;
}

.view-fixed-bar-small-img {
    padding: 8px;
    border: 2px solid transparent;
    margin-bottom: 30px;
    cursor: pointer;
}

.fixed-border {
    border: 2px solid #f6861f;
    border-radius: 5px;
    transition: .3s;
}

.view-fixed-bar-small-img img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.view-fixed-bar-big-img img {
    max-width: 100%;
     height: auto;
    object-fit: contain;
    width: 312px;
    aspect-ratio: auto 312 / 336;
    height: 336px;
}

.fixed-bar-bottom {
    margin-top: 25px;
}

.fixed-bar-bottom-head h2 {
    width: 100%;
    font-size: 30px;
}

.product-discounts,
.product-cash {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin-bottom: 15px;
}

.product-cash span {
    padding: 5px 12px;
    font-size: 13px;
    border: 1px solid #40b659;
    color: #40b659;
    border-radius: 5px;
}

.product-cash span:nth-child(1) {
    margin-bottom: 10px;
}

.product_tools {
    display: flex;
    align-items: center;
}

.product_tools a {
    border: 1px solid #e3e5eb;
    color: #c2c5ca;
    border-radius: 5px;
    padding: 9px 12px 0 12px;
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.product_tools a:nth-child(2) {
    margin: 0 5px;
}

.product_tools a i {
    font-size: 18px;
}

.product_tools a span {
    margin-left: 8px;
}

.heart:hover {
    color: red;

}

.share {
    width: 100px !important;

}

.share:hover {
    color: #fff;
    background: #40b659;
    cursor: pointer;
}

.product-colors {
    margin-top: 15px;
}

.product-colors span,
.product-storage p:nth-child(1) {
    font-size: 14px;
}

.product-storage {
    margin: 15px 0;
}

.product-storage p:nth-child(2) {
    color: #232D40;
    padding: 8px 12px;
    border: 1px solid #f6861f;
    font-size: 13px;
    display: inline-block;
    border-radius: 5px;
    width: 72px;
    margin-top: 10px;
}

.product-code {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.product-code span:nth-child(1) {
    font-size: 14px;
    color: #232D40;
}

.product-code span:nth-child(2) {
    font-size: 18px;
    color: #212529;
    font-weight: 700;
    margin-left: 5px;
}

.product-comment i {
    margin-left: 8px;
}

.Commission {
    margin: 30px 0 0 0px;
    display: flex;
}

.Commission span:nth-child(1) {
    width: 40px;
    background: #f9f9f9;
    padding: 8px;
    margin-right: 10px;
}

.Commission span i {
    background: #efefef;
    padding: 1px 6px;
    border: 1.8px solid #5b5f66;
    border-radius: 2px;
    color: #5b5f66;
}

.Commission span:nth-child(2) {
    font-size: 13px;
    color: #5b5f66;
}

.price-info {
    display: flex;
    align-items: center;
    border: 2px solid #e3e5eb;
    padding: 24px 28px;
    margin: 15px 0;
    border-radius: 7px;

}

.product-discount-price {
    text-decoration: line-through;
    color: #95979c;
    font-size: 13px;
}

.product-price {
    font-weight: 600;
    font-size: 22px;
}

.price-info-buttons {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.price-info-click {
    padding: 12px 28px 11px 28px;
    background: #f6861f;
    color: #fff;
    border-radius: 7px;
    margin-right: 12px;
    border: 1px solid #f6861f;
}

.price-info-click:hover {
    background: #fff;
    color: #f6861f;
    cursor: pointer;
}

.price-info-buttons button {
    color: #fff;
    background: #40b659;
    border: 0;
    padding: 10px 14px;
    font-size: 18px;
    border: 1px solid #40b659;
    border-radius: 5px;
}

.pannier-btn {
    border: 1px solid #f6861f !important;
}

.price-info-buttons button:hover {
    border: 1px solid #40b659;
    color: #40b659;
    background: #fff;
    cursor: pointer;
}

.credit-info {
    padding: 20px 24px;
    border: 2px solid #e3e5eb;
    border-radius: 7px;
}

.credit-info-head h3 {
    font-size: 17px;
    margin-bottom: 18px;
}

.credit-info table {
    width: 100%;
}

.credit-info thead {
    border-bottom: 1px solid #e3e5eb;
}

.credit-info tr {
    text-align: center;
    cursor: pointer;
}

.credit-info th {
    font-size: 12px;
    color: #95979c;
    padding-bottom: 12px;
}

.credit-info td {
    color: #232D40 !important;
    padding-top: 8px;
    cursor: pointer;
}

.credit-info table tbody tr label {
    cursor: pointer;
    width: 100%;
}

.credit-info table tbody tr input {
    width: 15px;
    height: 15px;
    accent-color: #da7211;
}

.credit-info-bottom {
    margin: 15px 0 0 17px;
    display: flex;
}

.credit-info-bottom button {
    margin: 0;
    padding: 5px 9px;
    border: 0;
    width: 180px;
    font-size: 15px;
    background: transparent;
}

.credit-info-bottom button:nth-child(1) {
    color: #5b5f66;
    border: 1px solid #5b5f66;
    border-radius: 5px;
    margin-right: 10px;
}

.credit-info-bottom button:nth-child(1):hover {
    color: #fff;
    background: #5b5f66;
}

.credit-info-bottom button:nth-child(2) {
    color: #fff;
    border: 1px solid #232D40;
    background: #232D40;
    border-radius: 5px;
}

.credit-info-bottom button:nth-child(2):hover {
    color: #232D40;
    background: #fff;
}

.price-info-delivery {
    display: flex;
    justify-content: space-between;
    width: 424px;
    margin-top: 15px;
    padding: 14px 20px;
    border: 2px solid #e3e5eb;
    border-radius: 5px;
}

.price-info-delivery a {
    text-decoration: none;
    color: #232D40;
}

.price-info-delivery a:nth-child(1) {
    padding-right: 55px;
    border-right: 1px solid #e3e5eb;
}

.price-info-delivery a i {
    margin-right: 10px;
}

.product-charactheristics {
    margin-top: 80px;
}

.btn-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    border: 1px solid #dee2e6;
    color: #232D40;
}

.btn-group span {
    font-size: 20px;
    padding: 28px 0;
    cursor: pointer;
}

.btn-group span:nth-child(1) {
    color: #f6861f;
}

.hr {
    position: absolute;
    width: 2px;
    height: 40px;
    background: #d2d2d2;
    display: inline-block;
    left: 50%;
    top: 30%;
}
 
.btn-group :nth-child(3):hover{
color: #f6861f !important;
}
.product-charactheristic{
    margin: 50px 0 0 30px;
}
.network, .battery, .processor, .screen, .camera , .video , .storage{
    display: flex;
    padding-bottom:24px;
    border-bottom: 1px solid #e3e5eb;
    margin-bottom: 36px;
}
.case{
    display: flex;
    padding-bottom:24px;
    margin-bottom: 36px;
}
.product-charactheristic img{
    width: 40px;
    height: 40px;
    margin-right: 24px;
}
.product-charactheristic h2{
    margin-bottom: 24px;
    font-size: 32px;
}
.product-charactheristic ul li{
    font-size: 18px;
    color: #232D40;
    line-height: 30px;
    margin-bottom: 8px;
}